<h1> Cockroach Profile Page </h1>

<h2><%= @cockroach.name%></h2>

<img src="<%=@cockroach.img_url %>">
<br>
<h4>About me</h4>
<strong>Location:</strong> <%= @cockroach.location%><br>
<strong>Species:</strong> <i><%= @cockroach.species %></i><br>
<strong>Bio:</strong> <%= @cockroach.bio %><br>
<strong>Dowry:</strong> <%= @cockroach.dowry%><br>



<%= button_to "Match with me", new_match_path(@match), method: :get%>
