
<h2> Cockroach Profile Page </h2>

<h3><%= @cockroach.name%></h3>

<% if flash[:errors] %>
  <% flash[:errors].each do |f| %>
    <%= f %><br> 
  <% end %>
<% end%>
<div class="roach_profile_pic">
<img src="<%=@cockroach.img_url %>" width="300">
</div>
<br>
<div class="user_show_page_about">
  <h4>About me</h4>
  <strong>Location:</strong> <%= @cockroach.location%><br>
  <strong>Species:</strong> <i><%= @cockroach.species %></i><br>
  <strong>Bio:</strong> <%= @cockroach.bio %><br>
  <strong>Dowry:</strong> <%= @cockroach.dowry%><br>
</div>


<br>

<% id = @current_user.id%>

<%= button_to "Match with me",
  match_path(
    matches: {
      user_id: id,
      cockroach_id: @cockroach.id,
    }
  ),
  method: :post 
%>







