<h1> Cockroach Profile Page </h1>

<h2><%= @cockroach.name%></h2>

<img src="<%=@cockroach.img_url %>">
<br>
About me... <br>
Come visit me at... <%= @cockroach.location%><br>
I am a <i><%= @cockroach.species %></i><br>
About me: <%= @cockroach.bio %><br>

This is your reward for choosing me!
<br>
<%= @cockroach.dowry%><br>



<%= button_to "Match with me", new_match_path(@match), method: :get%>
