
<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>


<div class="sessions_form_outer">

<%= form_for :session, url: login_path, html: {class: "sessions_form"} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name  %><br>

  <%= f.label :password %>
  <%= f.password_field :password  %><br>

  <%= f.submit :Login %>
<% end %>
<br>

</div>
