<h1> Create your profile to find your dream roach! </h1>

<%if flash[:errors] %>
    <% flash[:errors].each do |err| %>
        <%= err %><br>
    <% end %>
<% end %>

<div style="float:right"><br><img src="https://cdn.trendhunterstatic.com/thumbs/name-a-roach.jpeg" width="800" text-align: center></div>

<%= form_for @user do |f| %>


<%= f.label :name %><br>
<%= f.text_field :name %>

<br><br>

<%= f.label :password %><br>
<%= f.password_field :password %>

<br><br>

<%= f.label :age %><br>
<%= f.number_field(:age, in: 18..100)%>

<br><br>

<%= f.label :bio, value = "Enter a short bio." %><br>
<%= f.text_area :bio %>

<br><br>

<%= f.label :preference, value = "What do you look for in a cockroach?" %><br>
<%= f.text_field :preference %>

<br><br>

<%= f.label :img_url, value = "Enter a URL for your profile picture."%><br>
<%= f.text_field :img_url %>

<br><br>

<%= f.submit %>

<% end %>

