<h1> Hello <%= @user.name %>!</h1>
<h6>Welcome to your Pester profile!</h6>
<%= button_to "Edit", edit_user_path, method: :get%>
<br>



<div >

<img src="<%=@user.img_url %>" width="350">
<br><br>

<h6>About Me:</h6>
I am 
<%= @user.age %>
years old.
<%= @user.bio %>
<br>
What I like in a cockroach is
<%= @user.preference%>.
<br>
<br>

<% if @user.matches.count == 0 %>
    <h6> You do not have any matches currently. </h6>
<% else %>
    <h6>These are your matches:</h6>
<% end %>

<% @user.matches.each do |f| %>
<%= link_to f.cockroach.name, match_path(f) %>- <%= f.cockroach.species%> <br>
<% end %>

</div>