<h1> Send a message to your dream roach! </h1>

<%= form_for @match do |f| %>

<%= f.label :cockroach_id, value = "Select your cockroach" %><br>
<%= f.collection_select :cockroach_id, Cockroach.all, :id, :name %><br>

<%= f.label :user_id, value = "Please enter the name you would like your cockroach to see?" %><br>
<%= f.collection_select :user_id, User.all, :id, :name %><br>

<%= f.label :rating, value = "How thirsty are you?" %><br>
<%= f.number_field(:rating, in: 1..10)%><br>

<%= f.label :message, value = "Drop a pickup line."%><br>
<%= f.text_field :message %><br>

<%= f.submit %>

<% end %>