<h1> Congrats! You've matched with a roach! </h1>
<h6><%= @match.cockroach.name %> <3 <%= @match.user.name %></h6>
Will it be happy ever after?
<br><br>

<img src="<%=@match.cockroach.img_url %>"><img src="<%=@match.user.img_url %>">
<br>
<br>
Your message to <%=@match.cockroach.name%> was: <%=@match.message%>
<br>

This is how thirsty you are to meet <%=@match.cockroach.name%>: <%=@match.rating%>
<br>
<br>
<a href="https://twitter.com/intent/tweet?button_hashtag=PestsAreBest&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-size="large" data-text="I just matched with the cockroach of my dreams! Looking to seal it with a hiss! #ThanksPester #LoveAtFirstCrumb" data-url="https://pic.twitter.com/lcTPYgjIpa" data-show-count="false">Tweet #PestsAreBest</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<%= button_to "Unmatch", @match, :method => :delete %>